.navigation {
    margin-bottom: 12px;
    margin-top: 12px;
}

.shopping-list-item{
    padding-left: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.shopping-item-name {
    flex: 5;
    font-size: 18px;
    font-weight: 500;
}

.shopping-item-actions {
    flex: 1;
}

.item-selected {
    text-decoration: line-through;
}

.recipe-name {
    font-size: 20px;
    font-weight: 600;
}