<html>
<head>
    <title>Flask Intro - login page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="static/main.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1>eAtList</h1>

    <div class="navigation">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a href="/list"
                   class="nav-link"
                   role="button">
                    Courses
                </a>
            </li>
            <li class="nav-item">
                <a href="/recipe"
                   class="nav-link active"
                   role="button">
                    Recettes
                </a>
            </li>
            <li class="nav-item">
                <a href="/book"
                   class="nav-link"
                   role="button">
                    Bibliothèque
                </a>
            </li>
            <li class="nav-item">
                <a href="/reco"
                   class="nav-link"
                   role="button">
                    Reco
                </a>
            </li>
        </ul>
    </div>
    <div>
        <ul class="list-group">
            {% for recipe in recipes %}
            <li class="list-group-item">
                <span class="recipe-name">
                    {{ recipe.name }}
                </span>
                <div>
                    {% for item in recipe.items %}
                    <span class="badge badge-info">
                        {{ item.name }}
                    </span>
                    {% endfor %}
                </div>

            </li>
            {% endfor %}
        </ul>
    </div>

</div>
</body>
</html>
