<html>
<head>
    <title>Flask Intro - login page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="static/main.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1>eAtList</h1>

    <div class="navigation">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a href="/list"
                   class="nav-link"
                   role="button">
                    Courses
                </a>
            </li>
            <li class="nav-item">
                <a href="/recipe"
                   class="nav-link"
                   role="button">
                    Recettes
                </a>
            </li>
            <li class="nav-item">
                <a href="/book"
                   class="nav-link"
                   role="button">
                    Bibliothèque
                </a>
            </li>
            <li class="nav-item">
                <a href="/reco"
                   class="nav-link active"
                   role="button">
                    Reco
                </a>
            </li>
        </ul>
    </div>

    <div>
        <ul class="list-group">
            {% for item in items %}
            <li class="list-group-item shopping-list-item">
                <div class="shopping-item-name">
                    {{ item.name }}
                    <div>
                        {% if item.is_seasonal() %}
                        <span class="badge badge-success">De saison</span>
                        {% else %}
                        <span class="badge badge-warning">Hors saison</span>
                        {% endif %}
                    </div>
                </div>
                <div class="shopping-item-actions">
                    <form id="{{ 'form_%s' % item.identifier }}"
                          action="/list/add" method="POST">
                        <input type="text" class="form-control" placeholder="Nom du produit"
                               name="item" value="{{ item.name }}" hidden>
                        <input class="btn btn-success" type="submit" value="Ajouter">
                    </form>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>


</div>
<script>
    $('form').submit(function(e){
        e.preventDefault();
        const id = '#' + $(this).attr('id')
        $.post(
            $(this).attr('action'),
            $(this).serialize(),
            function(response){
                $(id).hide()
        },'json');
        return false;
    });
</script>
</body>
</html>
