<html>
<head>
    <title>Flask Intro - login page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="static/main.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1>Liste de courses</h1>

    <div class="navigation">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a href="/list"
                   class="nav-link active"
                   role="button">
                    Courses
                </a>
            </li>
            <li class="nav-item">
                <a href="/recipe"
                   class="nav-link"
                   role="button">
                    Recettes
                </a>
            </li>
        </ul>
    </div>
    <form action="/list/add" method="POST">
        <input list="items" type="text" class="form-control" placeholder="Nom du produit" name="item" value="{{
          request.form.product }}" autocomplete="off" autofocus>
        <datalist id="items">
            {% for item in items %}
                <option>{{ item.name }}</option>
            {% endfor %}
        </datalist>
        <input class="btn btn-success btn-block" type="submit" value="Ajouter">
    </form>
    <div>
        <ul class="list-group">
            {% for item in shopping_list %}
            <li class="list-group-item shopping-list-item">
                <div class="shopping-item-name">
                    {{ item.name }}
                </div>
                <div class="shopping-item-actions">
                    <a href="{{ '/list/remove/%s' % item.shopping_item_id }}"
                       class="btn btn-warning"
                       role="button">
                        Retirer
                    </a>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>

</div>
<script>
    $('.shopping-item-name').click(function() {
        if ($(this).hasClass('item-selected')){
            $(this).removeClass('item-selected');
        } else {
            $(this).addClass('item-selected');
        }
    });
</script>
</body>
</html>
